@use "../../../scss/" as *;

.pageEpisodes {
  position: relative;
  height: 56vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%, 100%);
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    @include size(100%, 100%);
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
  img {
    border-radius: $border-radius-sm;
  }
  &-container {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1;
    @include mobile {
      flex-direction: column;
    }
  }
  &-season {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 17px 2px rgba(88, 67, 56, 0.7), inset 0 0 69px 39px rgba(42, 35, 34, 0.5);
    background-color: rgba($black, 0.8);
    border-radius: $border-radius-sm;
  }

  &-item {
    width: calc(65% - 20px);
  }
  .swiper-slide {
    width: calc(100% / 4 - 10px);
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 30%;
    padding: 30px;
  }
}

.episode {
  position: relative;
  height: 152vh;
  background-color: #0c2738;
  &::after {
    position: unset;
  }
  .container {
    max-width: 1200px;
    display: flex;
    gap: 20px;
    @include mobile {
      flex-direction: column;
    }
  }

  &_left {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    @include mobile {
      width: 100%;
    }
    & > * {
      margin-block: 10px;
    }
    &-container {
      display: flex;
      align-items: baseline;
      .active {
        color: red;
      }
      span {
        font-size: 1.4rem;
      }
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
      & > * {
        margin-bottom: 1.5rem;
      }
    }
    &-title {
      font-size: 2rem;
    }
    &-item {
      margin-left: 1rem;
      padding-inline: 1rem;
      box-shadow: 0 0 4px 2px white;
    }
  }
  &_right {
    position: relative;
    width: 40%;
    @include mobile {
      width: 100%;
    }
    &-row {
      width: 30vw;
      max-width: 80%;
      margin-left: auto;

      @include tablet {
        width: 100%;
        max-width: 100%;
      }
      /* width */
      ::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgba($white, 0.8);
        border-radius: 10px;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
      }
    }
    &-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      overflow-y: scroll;
      max-height: 800px;
      padding-right: 12px;
    }
    &-link {
      margin-bottom: 2rem;
      &:first-child {
        margin-top: 2rem;
      }
    }
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
      img {
        height: 150px;
        width: 100%;
        border-radius: $border-radius-sm;
        box-shadow: 0 2px 20px -12px #fff;
      }
      .vote {
        position: absolute;
        top: 0;
        left: 50%;
        background-color: yellow;
        border-radius: 10px;
        color: black;
        padding: 3px 6px;
        transform: translate(-50%, -50%);
      }
      &-img {
        position: relative;
        width: 50%;
      }
      &-title {
        width: 50%;
      }
    }
  }

  .iframe {
    height: 34vw;
    border-radius: $border-radius-sm;
    box-shadow: 0 0 4px 1px rgba($white, 0.5);
  }
}
