@use "../../scss/" as *;

.hero-slide {
  margin-bottom: 3rem;

  &_item {
    padding: 3rem 0;
    @include size(100%);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, 100%);
      @include overlay();
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      @include size(100%, 100%);
      background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }

    &.active > &_content > &_content_poster {
      img {
        transform: scale(1);
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &.active > &_content > &_content_info {
      .btns,
      .title,
      .overview {
        opacity: 1;
        transform: translateY(0);
        transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      .title {
        transition-delay: 0.4s;
      }
      .overview {
        transition-delay: 0.8s;
      }
      .btns {
        transition-delay: 1s;
      }
    }
    
  }

  &_item_content {
    @include flex(center, center);

    &_info {
      @include size(55%);
      padding: 0 3rem;
      position: relative;
      z-index: 99;

      @include tablet {
        width: 100%;
      }
      & > * {
        margin-top: 3rem;
      }
      .title {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;

        @include tablet {
          font-size: 4rem;
        }
      }
      .overview {
        font-weight: 700;
      }
      .btns > * {
        margin-left: 1rem;
      }

      .btns,
      .title,
      .overview {
        opacity: 0;
        transform: translateY(-100px);
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
          opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &_poster {
      flex: 1;
      @include flex(center, flex-start);
      position: relative;
      img {
        @include size(400px);
        border-radius: $border-radius;
        box-shadow: $box-shadow;

        transform: scale(0);
        transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      @include tablet {
        display: none;
      }
    }
  }
}
